
<!-- footer -->
<!--备案信息-->
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">备案信息</div>
    <div class="panel-body">
      Copyright © 2007-2020 美文网(美文,情感美文欣赏) 版权所有 - 常阅读，多交友！赣ICP备08001715号
    </div>
  </div>
</div>

  </body>
</html>